@charset "utf-8";

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
}

/* Header styles */
header {
    background-color: #60609f;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h2 {
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Main styles */
main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

section h2 {
    font-size: 2rem;
    color: #333; 
    margin-bottom: 1rem;
    text-align: center;
}

section p {
    font-size: 1.1rem;
    color: #666; 
    line-height: 1.6;
}

.bio-images {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
}

.bio-images img {
    width: calc(50% - 1rem); 
    max-height: 200px; 
    border-radius: 10px;
    object-fit: cover; 
    margin: 0.5rem; 
}


/* Hero styles */

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    height: 100vh;
    overflow: hidden;
}

.hero img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding-top: 10px;
    border-radius: 10px;
}

.hero h1 {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 1rem;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 0.5s; 
    position: relative; 
    z-index: 1; /* Ensure h1 is above the hero image */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Contact form styles */
.contact {
    background-color: #f8f8f8;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.contact h2 {
    font-size: 2rem;
    color: #60609f;
    text-align: center;
    margin-bottom: 1rem;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #60609f;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact textarea {
    resize: vertical;
}

.contact input[type="submit"] {
    background-color: #60609f;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact input[type="submit"]:hover {
    background-color: #43436f;
}

/* Footer styles */
footer {
    background-color: #60609f;
    color: #fff;
    padding: 2rem 1rem; 
    text-align: center;
    border-radius: 10px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.social-links {
    list-style: none;
    padding: 0;
    margin-top: 1rem; 
}

.social-links li {
    display: inline-block;
    margin-right: 1rem;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem; 
}

.footer-info {
    font-size: 1rem; 
    margin-top: 1rem; 
}

/* Responsive styles */

@media (max-width: 800px) {
    header {
        padding: 0.5rem;
    }

    main {
        padding: 30px;
    }

    .hero {
        margin-bottom: 0.1rem;
    }

    .hero h1 {
        font-size: 2rem; 
    }

    .bio-images img {
        width: calc(50% - 1rem); 
        max-height: 150px; 
    }
}

