@charset "utf-8";

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h2 {
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Main styles */
main {
    padding: 2rem;
}

/* Hero styles */

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    height: 100vh;
    overflow: hidden;
}

.hero img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero h1 {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 1rem;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 0.5s; 
    position: relative; 
    z-index: 1; /* Ensure h1 is above the hero image */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    display: inline-block;
    margin-right: 1rem;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links a {
    color: #fff;
    text-decoration: none;
}

/* Responsive styles */
@media (max-width: 768px) {
    header {
        padding: 0.5rem;
    }

    main {
        padding: 1rem;
    }
}
